main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
}

.content {
    background-color: #71ade9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1 {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 6px;
}

.btn-primary {
    border-radius: 6px;
    
}

.input-group-append .btn {
    border-radius: 0 4px 4px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

