body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

#texto {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.dcc-dropdown {
  margin: 10px 0;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.graph-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dcc-graph {
  margin: 20px;
  width: 48%;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .dcc-graph {
    width: 100%;
  }
}
