/* Estilos para a planilha */
#planilha-container {
    margin-top: 20px;
    overflow-x: auto;
}

#planilha-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#planilha-container th,
#planilha-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px; /* Tamanho da fonte */
}

#planilha-container th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

#planilha-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#planilha-container tbody tr:hover {
    background-color: #f1f1f1;
}
