{%extends "base.html"%}

{%block content%}

    <link rel="stylesheet" href="/static/css/visualizar.css">

        <main>
            <div class="content">
                <h4>Clique em uma das opções abaixo para visualizar os dados:</h4>
                <div class="visualiza">
                    <a href="/dash_autorizador">Autorizador</a>
                    <a href="/dash_beneficiado">Beneficiado</a>
                    <a href="/dashFarmacia">Farmacia</a>
                </div>
                

            </div>
        </main>

        <script src="/static/js/flashtemporario.js"></script>
        
{%endblock%}