<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fraldário</title>
        <link rel="stylesheet" type="text/css" href="static/css/prefeitura.css">
        <link rel="shortcut icon" href="static/fotos/anonimo.png"
            type="image/x-icon">
    </head>
    <body>
        <body>
            <div id="tituloId">
                <h1 id="titulo">Fraldário</h1>
                <button type="submit"
                    onclick="voltarParaIndex()">INÍCIO</button>
                <button type="submit">FALE CONOSCO</button>
                <form action="index_.html">
                    <button class="botao" id="um" type="submit">Login</button>
                </form>
            </div>
            <a href="{{url_for('prefeitura')}}"> <div class="voltar"><button >Voltar</button></div></a>
            <div class="sidebar">
                <h2>Fraldário</h2>
                <button class="button" type="submit"
                    onclick="trocaCadastro()">Cadastrar</button>
                <button class="button">Visualizar</button>
                <a href="{{url_for('relatorioP')}}"> <div class="voltar"><button >Relatorio</button></div></a>
            </div>
            <div class="content">
               <a href="buscaPfarmacia"> <button type="submit">Farmácia</button> </a>
               <a href="buscaPautorizador"> <button type="submit">Autorizador</button> </a>
               <a href="buscaPbeneficiado"> <button type="submit">Beneficiado</button> </a>
            </div>
            <script src="/static/js/visualizar.js"></script>
        </body>
    </html>
