<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planilha</title>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css"
      href="/static/css/telaInicialPrefeitura.css">
    <link rel="stylesheet" href="/static/css/flashmessage.css">
    <link rel="shortcut icon" href="static/fotos/anonimo.png"
      type="image/x-icon">
    <link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  </head>
  <body>
    <div class="container">
      <h1>Planilha</h1>
      <a href="pagina_prefeitura"><button>Voltar</button></a>
      <div id="filters">
        <label for="name-filter" id="nomeFarmacia">Filtrar por Nome:</label>
        <input type="text" id="name-filter" name="name-filter">
        <label for="ano-filter">Ano:</label>
        <select id="ano-filter" name="ano-filter">
          <option value>Selecione o Ano</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <!-- Adicione mais opções conforme necessário -->
        </select>
        <label for="mes-filter">Mês:</label>
        <select id="mes-filter" name="mes-filter">
          <option value>Selecione o Mês</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
        <button id="apply-filter-btn" class="btn btn-primary">Aplicar
          Filtro</button>
        <button id="download-btn" class="btn btn-primary">Baixar</button>
        <button id="pdf-btn" class="btn btn-primary">Exportar para PDF</button>
      </div>
      <div id="planilha-container"></div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
  $(document).ready(function() {
    var table;

    // Função para carregar a planilha inicialmente ao carregar a página
    function carregarPlanilha(nameFilter, anoFilter, mesFilter) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', `/mostrar_planilhaB?name-filter=${nameFilter}&ano=${anoFilter}&mes=${mesFilter}`, true);
        xhr.responseType = 'blob';
        xhr.onload = function () {
            if (xhr.status === 200) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var data = new Uint8Array(e.target.result);
                    var workbook = XLSX.read(data, {type: 'array'});
                    var html = XLSX.utils.sheet_to_html(workbook.Sheets[workbook.SheetNames[0]]);
                    
                    // Adiciona um estilo CSS para espaçamento entre as colunas
                    html = html.replace(/<td/g, '<td style="padding: 8px;"'); // Você pode ajustar o valor de '8px' conforme necessário

                    document.getElementById('planilha-container').innerHTML = html;

                    // Após carregar a tabela, inicializamos a variável table
                    table = $('#planilha-container table');
                };
                reader.readAsArrayBuffer(xhr.response);
            }
        };
        xhr.send();
    }

    // Carregar a planilha inicialmente sem filtros
    carregarPlanilha('', '', '');

    // Adiciona manipulador de evento para o botão "Baixar"
    $('#download-btn').on('click', function(event) {
        // Obter o valor do filtro
        var filterValue = $('#name-filter').val();
        var anoValue = $('#ano-filter').val();
        var mesValue = $('#mes-filter').val();
        
        // Enviar um formulário para baixar a planilha, incluindo o filtro
        var form = $('<form action="/gerar_planilhaB" method="POST"></form>');
        form.append('<input type="hidden" name="name-filter" value="' + filterValue + '">');
        form.append('<input type="hidden" name="ano-filter" value="' + anoValue + '">');
        form.append('<input type="hidden" name="mes-filter" value="' + mesValue + '">');
        $('body').append(form);
        form.submit();
    });

    // Adiciona manipulador de evento para o campo de filtro
    $('#apply-filter-btn').on('click', function(event) {
        // Obter os valores dos filtros
        var filterValue = $('#name-filter').val();
        var anoValue = $('#ano-filter').val();
        var mesValue = $('#mes-filter').val();
        
        // Chamar a função para carregar a planilha com os filtros aplicados
        carregarPlanilha(filterValue, anoValue, mesValue);
    });

    // Adiciona manipulador de evento para o botão "Exportar para PDF"
    $('#pdf-btn').on('click', function(event) {
      html2canvas(document.getElementById('planilha-container')).then(function(canvas) {
        var imgData = canvas.toDataURL('image/png');
        var pdf = new jspdf.jsPDF('p', 'mm', 'a4');
        
        pdf.setFontSize(18);
        pdf.text('Relatório de Planilha', 10, 10);
        
        var today = new Date();
        var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
        pdf.setFontSize(12);
        pdf.text('Data: ' + date, 10, 20);
        
        var imgWidth = 190; 
        var pageHeight = pdf.internal.pageSize.height;
        var imgHeight = canvas.height * imgWidth / canvas.width;
        var heightLeft = imgHeight;
        var position = 30;

        pdf.addImage(imgData, 'PNG', 10, position, imgWidth, imgHeight);
        heightLeft -= pageHeight;

        while (heightLeft >= 0) {
          position = heightLeft - imgHeight;
          pdf.addPage();
          pdf.addImage(imgData, 'PNG', 10, position, imgWidth, imgHeight);
          heightLeft -= pageHeight;
        }
        
        pdf.setFontSize(10);
        pdf.text('Página ' + pdf.internal.getNumberOfPages(), 10, pdf.internal.pageSize.height - 10);
        
        pdf.save('planilha.pdf');
      });
    });
  });
</script>
  </body>
</html>
